.title{
 font-style: oblique;
 font-family:標楷體;
 font-weight: bold;
}	
table{
  border-collapse: collapse;
  border: 2px solid silver;
}
tr,td{
  border-collapse: collapse;
  border: 2px solid silver;
}
.scroll{
	overflow:scroll;
	overflow-x:hidden;
	height:130px 
}
