h1{
    font-family: 微軟正黑體;
    font-size: 50px;
    margin: 0px 10px;
}
table{
    border-collapse: collapse;
    margin:50px auto 50px auto;
    position: relative;
    top:100px;
}
td{
    border-radius: 20px 20px;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    font-family: 微軟正黑體;
    font-weight: bold;
}
body{
    background: -webkit-linear-gradient(#b4c4ae,#edd9a8);
    background: -o-linear-gradient(#b4c4ae,#edd9a8);
    background: -moz-linear-gradient(#b4c4ae,#edd9a8);
    background: linear-gradient(#b4c4ae,#edd9a8);
}
td.color1{
    background-color: #afc2d5;
}
td.color2{
    background-color: #BDB1BF;
}
a{
    text-decoration: none;
}
td.color1 a{
    color: #746D75;
}
td.color2 a{
    color: #1C4A77;
}

.flow{
    width: 600px;
    height: 400px;
}


.coverflow
{
  position:relative;
  left:450px;
  top:10px;
  width: 570px;
  height: 340px;
}

.coverflow img
{
 box-shadow: 3px 5px 7px 3px gray;
}
 
.coverflow div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation: round 45s linear infinite;
            animation: round 45s linear infinite;
}

@-webkit-keyframes round {
    5% {
        opacity: 1;
        filter: alpha(opacity=100);
        
    }
    25% {
        opacity: 1;
        filter: alpha(opacity=100);
        
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
        
    }
}
@keyframes round {
    5% {
        opacity: 1;
        filter: alpha(opacity=100);
        
    }
    25% {
        opacity: 1;
        filter: alpha(opacity=100);
        
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
        
    }
}

.coverflow div:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
           
}

.coverflow div:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
 }

.coverflow div:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
            
}

.coverflow div:nth-child(4) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
             

}

.coverflow div:nth-child(5) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
             

}

.coverflow div:nth-child(6) {
    -webkit-animation-delay: 25s;
            animation-delay: 25s;
             

}

.coverflow div:nth-child(7) {
    -webkit-animation-delay: 30s;
            animation-delay: 30s;
             

}

.coverflow div:nth-child(8) {
    -webkit-animation-delay: 35s;
            animation-delay: 35s;
             

}



.coverflow:hover div 
{
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}



#menu {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    background-color:rgba(255,255,0,0.5); /*透明效果*/
}
#menu li {
    float: right;
    list-style: none;
}
#menu a {
    display: block;
    padding: 5px;
    width: 50px;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    color: #aaa;
    text-decoration: none;
}
#menu a:hover {
    color: #000;
}
#menu li.active a {
    border-top: 3px solid #333;
}