h1{
	font-family: 微軟正黑體;
	font-size: 50px;
	margin: 0px 10px;
}
table{
	position: relative;
	top: 100px;
	left: 300px;
	background-color:rgba(151,203,255,0.5);
	padding: 10px;
}
.pic{
	width: 50px;
	height: 50px;
	float:left;
	margin: 10px;
}

#menu {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    background-color:rgba(255,255,0,0.5); /*透明效果*/
}
#menu li {
    float: right;
    list-style: none;
}
#menu a {
    display: block;
    padding: 5px;
    width: 50px;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    color: #aaa;
    text-decoration: none;
}
#menu a:hover {
    color: #000;
}
#menu li.active a {
    border-top: 3px solid #333;
}

