h1{
	font-family: 微軟正黑體;
	font-size: 50px;
	margin: 0px 10px;
}
div.part1 table{
	position: relative;
	top: 100px;
	left: 300px;
	background-color:rgba(151,203,255,0.5);
	padding: 50px;
    border-radius: 20px 20px;
}
div.part1 td{
    padding: 10px;
}
div.part1 .pic{
	width: 50px;
	height: 50px;
	float:left;
	margin: 10px;
}
img.picpeople{
    width: 190px;
    height: 250px;
    border-radius: 15px 15px;
}
img.picpeople2{
    width: 220px;
    height: 280px;
}
.con{
    text-decoration: none;
    color: black;
}


div.part2{
    position: relative;
    top: 100px;
    left: 300px;
    margin: 100px 0px 200px 0px;
}
div.part3{
    position: relative;
    top: 45px;
    left: 150px;
    width: 1100px;
    margin: 200px 0px 200px 0px;
    padding: 50px;
    background-color:rgba(136,136,136,0.5); 
}
body{
    background: -webkit-linear-gradient(#b4c4ae,#edd9a8);
    background: -o-linear-gradient(#b4c4ae,#edd9a8);
    background: -moz-linear-gradient(#b4c4ae,#edd9a8);
    background: linear-gradient(#b4c4ae,#edd9a8);
}


#menu {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    background-color:rgba(255,255,0,0.5); /*透明效果*/
}
#menu li {
    float: right;
    list-style: none;
}
#menu a {
    display: block;
    padding: 5px;
    width: 50px;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    color: #aaa;
    text-decoration: none;
}
#menu a:hover {
    color: #000;
}
#menu li.active a {
    border-top: 3px solid #333;
}

