body{
	background: -webkit-linear-gradient(#b4c4ae,#edd9a8);
    background: -o-linear-gradient(#b4c4ae,#edd9a8);
    background: -moz-linear-gradient(#b4c4ae,#edd9a8);
    background: linear-gradient(#b4c4ae,#edd9a8);
}

.fancytable td,th{border:1px solid #cccccc; color:#555555;text-align:center;line-height:28px;border-collapse: collapse;}

.headerrow{ background-color:#0066cc;}

.headerrow th{ color:#ffffff; text-align:center;}

.datarowodd{background-color:#ffffff;}

.dataroweven{ background-color:#efefef;}

.datarowodd td{background-color:#ffffff;}
.dataroweven td{ background-color:#efefef;}

.datarowodd a{
    text-decoration: none;
    color:blue;
}
.dataroweven a{
    text-decoration: none;
    color:blue;
}

h2{
	color:blue;
}


#menu {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    background-color:rgba(255,255,0,0.5); /*透明效果*/
}
#menu li {
    float: right;
    list-style: none;
}
#menu a {
    display: block;
    padding: 5px;
    width: 50px;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    color: #aaa;
    text-decoration: none;
}
#menu a:hover {
    color: #000;
}
#menu li.active a {
    border-top: 3px solid #333;
}